<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="شركة متخصصة في إنشاء النوافذ والأبواب باستخدام الألمنيوم والإينوكس، وحتى الأدراج. كما نعمل على إعادة تأهيل الأبنية القديمة وجعلها جديدة ومؤهلة للإيواء.">
        <meta name="author" content="عبد الاله">
        <meta property="og:title" content="INASALU">
        <meta property="og:description" content="شركة متخصصة في إنشاء النوافذ والأبواب باستخدام الألمنيوم والإينوكس، وحتى الأدراج. كما نعمل على إعادة تأهيل الأبنية القديمة وجعلها جديدة ومؤهلة للإيواء.">
        <meta property="og:image" content="https://example.com/images/logo.png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="اسم الشركة">
        <meta name="twitter:description" content="شركة متخصصة في إنشاء النوافذ والأبواب باستخدام الألمنيوم والإينوكس، وحتى الأدراج. كما نعمل على إعادة تأهيل الأبنية القديمة وجعلها جديدة ومؤهلة للإيواء.">
        <meta name="twitter:image" content="https://example.com/images/logo.png">        <link rel="canonical" href="https://younes.dev.onrender.com/">
        <link rel="stylesheet" href="/styles/all.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,500&family=Poppins:wght@100&family=Roboto:wght@400;700&display=swap" >  
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <meta name="google-site-verification" content="ilUU_XtPy_bAcBMBvnHyjldUtHGAeB5qJJaH1FA-WbY" />
        <link rel="stylesheet" type="text/css" href="styles/rule1.css" >
        <title>Younes Dev - Professional Web Development Services</title>
      </head>
</head>
<body>

    <!-- start setting box -->
    <div class="settings-box">
        <div class="toggle-settings">
            <i class="fas fa-clock fa-spin"></i>
        </div>
        <div class="settings-content">
            <div class="option-box">
                <h4>colors</h4>
                <ul class="colors-list">
                    <li class="active" data-color="#FF9800"></li>
                    <li data-color="#E91E63"></li>
                    <li data-color="#009688"></li>
                    <li data-color="#03A9F4"></li>
                    <li data-color="#4CAF50"></li>
                </ul>
            </div>
            <div class="option-box">
                <h4>CHANGE Background </h4>
               <div class="random-backgrounds">
                <span class="yes active" data-background="yes">yes</span>
                <span class="no" data-background="no">no</span>
               </div>
               
            </div>
            <div class="option-box">
                <h4>show bullets</h4>
               <div class="bullets-option">
                <span class="yes active" data-display="show">yes</span>
                <span class="no" data-display="hide">no</span>
               </div>
            </div>
            <button class="reset-options">
                reset options
            </button>
       </div>
    </div>
        <!-- end setting box -->
        <header>
        <!-- start nav bullet -->
        <div class="nav-bullets">
            <div class="bullet" data-section=".about-us">
                <div class="tooltip">about us</div>
            </div>
            <div class="bullet"  data-section=".skills">
                <div class="tooltip">Tech we Use</div>
            </div>
            <div class="bullet"  data-section=".gallery">
                <div class="tooltip">Our Gallery</div>
            </div>
            <div class="bullet"  data-section=".timeline">
                <div class="tooltip">Timeline</div>
            </div>
            <div class="bullet"  data-section=".features">
                <div class="tooltip">Our features</div>           
            </div>
            <div class="bullet"  data-section=".testimonials">
             <div class="tooltip" id="solutions">Solutions</div>
            </div>
            <div class="bullet"  data-section=".contact">
                <div class="tooltip">Contact_US</div>
            </div>            
            <div class="clearfix"></div>

        </div>
    </header>
        <!-- end nav bullet -->
        <!-- start calculator -->
     
    <!-- start landing page -->
    <div class="landing-page">
        <div class="overlay"></div>
        <div class="">
            <div class="header-area" itemscope itemtype="https://schema.org/Organization">
                <div id="replace-logo" class=""> 
                    <img class="logo" src="/images/170.png" alt="Younes Dev logo" itemprop="logo">
                </div>
                <div class="links-container">
                    <ul class="links">
                        <li><a href="#" class="active" data-section=".about-us">about us</a></li>
                        <li><a href="#" data-section=".skills">data-progress</a></li>
                        <li><a href="#" data-section=".timeline">our project</a></li>
                        <li><a href="#" data-section=".features">Our features</a></li>
                        <li><a href="solution" data-section=".solution" id="solution">Solutions</a></li>
                    </ul>
                    <button class="toggle-menu">
                        <span class="span"></span>
                        <span class="span"></span>
                        <span class="span"></span>
                    </button>
                </div>
            </div>   
        </div>
        <div class="introduction-text">
            <h1 itemprop="name">شركة ايناس اليم - <span>خدمات تصنيع وتركيب النوافذ والأبواب</span></h1>
            <h2>حلول مخصصة لأعمالك</h2>
            <p itemprop="description">مرحبًا بك في شركة ايناس اليم، حيث نقوم بتصنيع وتركيب النوافذ والأبواب باستخدام الألمنيوم والإينوكس، وحتى الأدراج. كما نعمل على إعادة تأهيل الأبنية القديمة وجعلها جديدة ومؤهلة للإيواء.</p>
          </div>    
    </div>

    <!-- end landing page -->


    <!-- start about us -->

    <div class="container">
        <div class="about-us">
          <div class="info-box">
            <h2>من نحن</h2>
            <p class="boost-up-p">مرحبًا، <div class="span-boost-up">نحن شركة  ايناس اليم</div>، متخصصون في تصنيع وتركيب النوافذ والأبواب باستخدام الألمنيوم والإينوكس، وحتى الأدراج. لدينا خبرة تزيد عن 10 سنوات في هذا المجال ولقد عملنا مع عملاء من مختلف الصناعات.</p>
            <p>في ايناس اليم، نؤمن بأن كل مشروع فريد ويستحق نهجًا شخصيًا. لهذا السبب نأخذ الوقت الكافي لمعرفة عملائنا وأهدافهم، حتى نتمكن من تقديم أفضل النتائج الممكنة.</p>
            <p>إذا كنت تبحث عن شركة موثوقة وذات خبرة في تصنيع وتركيب النوافذ والأبواب، فلا تبحث بعيدًا. اتصل بنا اليوم لمعرفة المزيد عن كيفية مساعدتنا لتحقيق أهدافك.</p>
            <div class="social-media-link">
                <a href="https://wa.me/0682018371" target="_blank"><i class="fab fa-whatsapp wt"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100083186589480" target="_blank"><i class="fab fa-facebook fb"></i></a>
                <a href="https://www.linkedin.com/in/younes-raymond-188a40241/" target="_blank"><i class="fab fa-linkedin lnk"></i></a>
              </div>
          </div>
          
          <div class="image-box">
            <img class="img-heart" src="/images/profile.jpg" alt="Portrait of Younes, web developer">
          </div>
        </div> 
      </div>
    <!-- end about us -->
    
    <!-- start location -->-
    <div class="conatiner-embed">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Rabat-City-%20Temesna+(My%20Business%20Name)&amp;t=k&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe>
            </div>
        </div>
    </div>
    <!-- end location -->

<!-- start skills -->
    <div class="container">
        <div class="skills">
          <h2>التقنيات التي نستخدمها</h2>
          <div class="skills-box">
            <div class="skill-name">الألمنيوم</div>
            <div class="skill-progress">
              <span data-progress="90%"></span>
            </div> 
          </div>
          <div class="skills-box">
            <div class="skill-name">الإينوكس</div>
            <div class="skill-progress">
              <span data-progress="70%"></span>
            </div>
          </div>
          <div class="skills-box">
            <div class="skill-name">الإينوكس</div>
            <div class="skill-progress">
              <span data-progress="70%"></span>
            </div>
          </div>
        </div>
      </div>

    <!-- end our skills -->


    <!-- start gallery -->
    <div class="gallery">
        <div class="container">
            <h2>معرضنا</h2>
            <div class="image-box">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682451180/mpyseinv8rl4zod79qlf.jpg" alt="image one">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682453677/wkjmzgh26q4pfamx6okx.jpg" alt="image two">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682450262/inasAlu/IMG_20230405_131435_l5skhj.jpg" alt="image three">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682450257/inasAlu/IMG_20230406_162425_q7llyw.jpg" alt="image four">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682450211/inasAlu/IMG-20230404-WA0007_vqptft.jpg" alt="image five">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682450211/inasAlu/IMG-20210526-WA0023_pm4zqi.jpg" alt="image six">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682450211/inasAlu/IMG-20230404-WA0007_vqptft.jpg" alt="image design web">
                <img src="  https://res.cloudinary.com/dktkavyr3/image/upload/v1682450210/inasAlu/IMG-20230401-WA0004_rttvct.jpg" alt="image 8 picture huawei">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682450208/inasAlu/IMG-20230401-WA0006_t84o6n.jpg" alt="image 9 culture maroc">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682450208/inasAlu/IMG_20230406_161426_jsph4n.jpg" alt="image 9 culture maroc">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682450205/inasAlu/IMG-20230404-WA0011_anyxsi.jpg" alt="image 9 culture maroc">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682450205/inasAlu/IMG-20230404-WA0011_anyxsi.jpg" alt="image 9 culture maroc">
            </div>
        </div>
    </div>
    <!-- end gallery -->


    <!-- start time line  -->
    <div class="container">
        <div class="timeline">
          <h2>جدول زمني لمشروع حكومي لوزارة الشباب والرياضة</h2>
          <div class="timeline-content">
            <div class="year">2020</div>
            <div class="left">
              <div class="content">
                <h3>تصنيع وتركيب النوافذ والأبواب لمشروع حكومي في مدينة الدار البيضاء</h3>
                <p>عملنا مع وزارة الشباب والرياضة على تصنيع وتركيب النوافذ والأبواب لمبنى حكومي في مدينة الدار البيضاء. قمنا بتصميم وتصنيع النوافذ والأبواب باستخدام الألمنيوم والإينوكس، وتركيبها بدقة وفقًا للمواصفات المطلوبة. تم تسليم المشروع في الموعد المحدد وكان العملاء راضين تمامًا عن النتائج.</p>
              </div>
            </div>
            <div class="right">
              <div class="content">
                <h3>تركيب الأدراج لمشروع حكومي في مدينة الرباط</h3>
                <p>عملنا مع وزارة الشباب والرياضة على تركيب الأدراج لمبنى حكومي في مدينة الرباط. قمنا بتصميم وتركيب الأدراج باستخدام الألمنيوم وفقًا للمواصفات المطلوبة. تم تسليم المشروع في الموعد المحدد وكان العملاء راضين تمامًا عن النتائج.</p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="year">2021</div>
            <div class="left">
              <div class="content">
                <h3>تصنيع وتركيب النوافذ والأبواب لمشروع حكومي في مدينة طنجة</h3>
                <p>عملنا مع وزارة الشباب والرياضة على تصنيع وتركيب النوافذ والأبواب لمبنى حكومي في مدينة طنجة. قمنا بتصميم وتصنيع النوافذ والأبواب باستخدام الألمنيوم والإينوكس، وتركيبها بدقة وفقًا للمواصفات المطلوبة. تم تسليم المشروع في الموعد المحدد وكان العملاء راضين تمامًا عن النتائج.</p>
              </div>
            </div>
            <div class="right">
              <div class="content">
                <h3>تركيب الأدراج لمشروع حكومي في مدينة مراكش</h3>
                <p>عملنا مع وزارة الشباب والرياضة على تركيب الأدراج لمبنى حكومي في مدينة مراكش. قمنا تركيب الأدراج باستخدام الألمنيوم وفقًا للمواصفات المطلوبة. تم تسليم المشروع في الموعد المحدد وكان العملاء راضين تمامًا عن النتائج.</p>
                    </div>
                </div>
                <div class="left">
                    <div class="content">
                        <h3>تصنيع وتركيب النوافذ والأبواب لمشروع حكومي في مدينة فاس</h3>
                        <p>ملنا مع وزارة الشباب والرياضة على تصنيع وتركيب النوافذ والأبواب لمبنى حكومي في مدينة فاس. قمنا بتصميم وتصنيع النوافذ والأبواب باستخدام الألمنيوم والإينوكس، وتركيبها بدقة وفقًا للمواصفات المطلوبة. تم تسليم المشروع في الموعد المحدد وكان العملاء راضين تمامًا عن النتائج.</p>
                    </div>
                </div>
            </div>

            <div class="timeline-content">
                <div class="year">2022</div>

                <div class="right">
                    <div class="content">
                        <h3>تركيب الأدراج لمشروع حكومي في مدينة الجديد</h3>
                        <p>ملنا مع وزارة الشباب والرياضة على تركيب الأدراج لمبنى حكومي في مدينة الجديدة. قمنا بتصميم وتركيب الأدراج باستخدام الألمنيوم وفقًا للمواصفات المطلوبة. تم تسليم المشروع في الموعد المحدد وكان العملاء راضين تمامًا عن النتائج.</p>
                    </div>
                </div>    
</div>
</div>
    </div>
    <!-- end time line  -->

    <!-- start features -->
    <div class="features">
        <h2>Our features</h2>
        <div class="container">
            <a href="https://www.google.com/" target="_blank">
                <div class="feat-box">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682519583/inasAlu/handyman-clipart-maintenance-worker-9_zvk8bi.png" alt="">
                <h4>صيانة النوافذ والأبواب الألمنيومية والإينوكس</h4>
                <p>يمكننا مساعدتك في الحفاظ على نوافذ وأبواب الألمنيوم والإينوكس الخاصة بك وجعلها تعمل بسلاسة من خلال الصيانة الدورية والتحديثات.</p>
              </div>
            </a>
            <a href="https://www.google.com/">
              <div class="feat-box">
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682519594/inasAlu/OIP_2_qbynt8.jpg" alt="">
                <h4>تركيب النوافذ والأبواب الألمنيومية والإينوكس</h4>
                <p>يمكننا تركيب نوافذ وأبواب الألمنيوم والإينوكس بدقة وفقًا للمواصفات المطلوبة وضمان جودة العمل.</p>
              </div>
            </a>
            <a href="https://www.google.com/">
              <div class="feat-box" >
                <img src="https://res.cloudinary.com/dktkavyr3/image/upload/v1682520140/profiloknogenesis-1_ggfpha.png" alt="" id="unique-icon">
                <h4>تصميم النوافذ والأبواب الألمنيومية والإينوكس</h4>
                <p>يمكننا تصميم نوافذ وأبواب الألمنيوم والإينوكس بأشكال وأحجام وألوان مختلفة وفقًا لاحتياجاتك ومواصفاتك.</p>
              </div>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- End features -->

  <!-- start   testomonials -->

  <!-- end   testomonials -->
    
    <!-- start contact us -->
<div class="contact">
    <div class="overlay"></div>
    <div class="container">
      <h2>اتصل بنا</h2>
      <form action="/submit-form" method="POST"> 
        <div class="left">
          <input type="text" placeholder="اسمك" name="username" >
          <input type="number" placeholder="رقم هاتفك" name="phone">
          <input type="email" placeholder="بريدك الإلكتروني" name="email">
          <input type="text" placeholder="الموضوع" name="subject" >
        </div>
        <div class="right">
          <textarea name="message" placeholder="رسالتك"></textarea>
          <input type="submit" value="إرسال">
        </div>
      </form>
    </div>
  </div>
  <!-- end contact us -->
  

  <div class="footer1" style="color: aliceblue;">
    <div class="-social-media">
      <a href="https://wa.me/0682018371" target="_blank">
        <i class="fab fa-whatsapp wt"></i>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100083186589480" target="_blank">
        <i class="fab fa-facebook fb"></i>
      </a>
      <a href="https://www.linkedin.com/in/younes-raymond-188a40241/" target="_blank">
        <i class="fab fa-linkedin lnk"></i>
      </a>
    </div>
    <div style="color:aliceblue;">
      <h1 itemprop="name" >شركة ايناس اليم - <span>خدمات تصنيع وتركيب النوافذ والأبواب</span></h1>
      <h2>حلول مخصصة لأعمالك</h2>
      <p itemprop="description">نحن في شركة ايناس اليم نسعى جاهدين لتوفير خدمات تصنيع وتركيب النوافذ والأبواب الألمنيومية والإينوكس بأعلى جودة وأفضل الأسعار. كما نعمل على إعادة تأهيل الأبنية القديمة وجعلها جديدة ومؤهلة للإيواء. نحن نقدم حلولًا مخصصة لأعمالك، ونضمن لك الرضا التام عن خدماتنا.</p>
    </div>
  </div>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FJ1SETJQGC"></script>

<script src="source/master.js"></script>
</body>
</html>
  

    <script src="js/master.js"></script>
</body>
</html>