<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,500&family=Poppins:wght@100&family=Roboto:wght@400;700&display=swap" >  
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <title>younes Dev Communuity</title>
    <link rel="stylesheet" type="text/css"   href="styles/rule1.css" >

</head>
<body>

    <!-- start setting box -->
    <div class="settings-box">
        <div class="toggle-settings">
            <i class="fas fa-clock fa-spin"></i>
        </div>
        <div class="settings-content">
            <div class="option-box">
                <h4>colors</h4>
                <ul class="colors-list">
                    <li class="active" data-color="#FF9800"></li>
                    <li data-color="#E91E63"></li>
                    <li data-color="#009688"></li>
                    <li data-color="#03A9F4"></li>
                    <li data-color="#4CAF50"></li>
                </ul>
            </div>
            <div class="option-box">
                <h4>CHANGE Background </h4>
               <div class="random-backgrounds">
                <span class="yes active" data-background="yes">yes</span>
                <span class="no" data-background="no">no</span>
               </div>
               
            </div>
            <div class="option-box">
                <h4>show bullets</h4>
               <div class="bullets-option">
                <span class="yes active" data-display="show">yes</span>
                <span class="no" data-display="hide">no</span>
               </div>
            </div>
            <button class="reset-options">
                reset options
            </button>
       </div>
    </div>
        <!-- end setting box -->

        <!-- start nav bullet -->
        <div class="nav-bullets">
            <div class="bullet" data-section=".about-us">
                <div class="tooltip">about us</div>
            </div>
            <div class="bullet"  data-section=".skills">
                <div class="tooltip">Skills</div>
            </div>
            <div class="bullet"  data-section=".gallery">
                <div class="tooltip">Our Gallery</div>
            </div>
            <div class="bullet"  data-section=".timeline">
                <div class="tooltip">Timeline</div>
            </div>
            <div class="bullet"  data-section=".features">
                <div class="tooltip">Our features</div>           
            </div>
            <div class="bullet"  data-section=".testimonials">
                <div class="tooltip">Testomonials</div>
            </div>
            <div class="bullet"  data-section=".contact">
                <div class="tooltip">Contact_US</div>
            </div>            
            <div class="clearfix"></div>

        </div>
        <!-- end nav bullet -->

        <!-- start calculator -->
     
    <!-- start landing page -->
    <div class="landing-page">
        <div class="overlay"></div>
        <div class="">
            <div class="header-area">
                <div class="logo"> 
                    <img class="" src="/iamges/170.png" alt="">
                </div>
                <div class="links-container">
                    <ul class="links">
                        <li><a href="#" class="active" data-section=".about-us">about us</a></li>
                        <li><a href="#" data-section=".skills">data-progress</a></li>
                        <li><a href="#" data-section=".timeline">our project</a></li>
                        <li><a href="#" data-section=".features">Our features</a></li>
                        <li><a href="#" data-section=".testimonials">Testomonials</a></li>
                    </ul>
                    <button class="toggle-menu">
                        <span class="span"></span>
                        <span class="span"></span>
                        <span class="span"></span>
                    </button>
                </div>
            </div>   
        </div>
        <div class="introduction-text">
            <h1>we are <span>creative</span> Company</h1>
            <p >Welcome to our company site we are the best choice to Make service easy to do it we have a profisionel  team can make any systeme We hope to enjoy in our services</p>
        </div>
    </div>

    <!-- end landing page -->


    <!-- start about us -->
    <div class="container">
        <div class="about-us">
            <div class="info-box">
                <h2>About us</h2>
            <p class="boost-up-p">Welcome to <div class="span-boost-up">BOOST-UP</div> We hope to make your services easy to do it <a class="active" id="link"  data-section=".features">OUR-services</a>Lorem ipsum dolor s
                it amet, consectetur adipisicing elit. Deserunt ut ex suscipit quo 
                in iusto enim maxime id, veniam adipisci doloremque, 
                sequi repellendus eum illum nemo! Iure autem officiis quos.</p>
            </div>
            <div class="image-box">
                <img class="img-heart" src="/images/112.png" alt="">
                <!-- <video src="/videos/pexels-kindel-media-6774847.mp4"></video> -->
            </div>
        </div>
    </div>
    
    <!-- end about us -->
    
    <!-- start location -->-
           <div class="conatiner-embed">
        <div class="mapouter">
             <h2>OUR location</h2>
            <div class="gmap_canvas">
                <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=2040&amp;height=400&amp;hl=en&amp;q=rabat city&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                 <p>hello younes develop this location </p>
                </iframe>
            </div>
        </div>
    </div>

    <!-- stat location -->

    <!-- start our skills -->
    <div class="container">
        <div class="skills">
            <h2>our skills</h2>
            <div class="skills-box">
                <div class="skill-name">performonce </div>
                <div class="skill-progress">
                    <span data-progress="90%"></span>
                </div> 
            </div>
            <div class="skills-box">
                <div class="skill-name">trust</div>
                <div class="skill-progress">
                    <span data-progress="80%"></span>
                </div>
            </div>
            <div class="skills-box">
                <div class="skill-name">googleapis</div>
                <div class="skill-progress">
                    <span data-progress="90%"></span>

                </div>
            </div>

            <div class="skills-box">
                <div class="skill-name">probleme solving</div>
                <div class="skill-progress">
                    <span data-progress="40%"></span>

                </div>
            </div>
            <div class="skills-box">
                <div class="skill-name">php</div>
                <div class="skill-progress">
                    <span data-progress="30%"></span>

                </div>
            </div>
            <div class="skills-box">
                <div class="skill-name">MysQL</div>
                <div class="skill-progress">
                    <span data-progress="20%"></span>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- end our skills -->


    <!-- start gallery -->
    <div class="gallery">
        <div class="container">
            <h2>Our Gallery</h2>
            <div class="image-box">
                <img src="/images/01.jpg" alt="image one">
                <img src="/images/02.jpg" alt="image two">
                <img src="/images/03.jpg" alt="image three">
                <img src="/images/04.jpg" alt="image four">
                <img src="/images/05.jpg" alt="image five">
                <img src="/images/06.jpg" alt="image six">
                <img src="/images/07.jpg" alt="image design web">
                <img src="/images/08.jpg" alt="image 8 picture huawei">
                <img src="/images/09.jpg" alt="image 9 culture maroc">
                <img src="/images/10.jpg" alt="image teen">
                <img src="/images/01.jpg" alt="image teen">
                <img src="/images/01.jpg" alt="image teen">
                
            </div>
        </div>
    </div>

    <!-- end gallery -->


    <!-- start time line  -->
    <div class="timeline">
        <div class="container">
            <div class="timeline-content">
                <div class="year">2018</div>

                <div class="left">
                    <div class="content">
                        <h3>testing heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nulla. Harum alias itaque ullam. Aperiam quae perspiciatis mollitia quidem iure odit corrupti minima magnam. Ea aperiam est doloremque quidem iure.</p>
                    </div>
                 </div>
                <div class="right">
                    <div class="content">
                        <h3>testing heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nulla. Harum alias itaque ullam. Aperiam quae perspiciatis mollitia quidem iure odit corrupti minima magnam. Ea aperiam est doloremque quidem iure.</p>
                    </div>
                </div>

                <div class="left">
                    <div class="content">
                        <h3>testing heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nulla. Harum alias itaque ullam. Aperiam quae perspiciatis mollitia quidem iure odit corrupti minima magnam. Ea aperiam est doloremque quidem iure.</p>
                    </div>
                </div>
                <div class="right">
                    <div class="content">
                        <h3>testing heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nulla. Harum alias itaque ullam. Aperiam quae perspiciatis mollitia quidem iure odit corrupti minima magnam. Ea aperiam est doloremque quidem iure.</p>
                    </div>
                </div>
               

                <div class="clearfix"></div>
                <div class="year">2019</div>
            </div>
            <div class="timeline-content">
                <div class="right">
                    <div class="content">
                        <h3>testing heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nulla. Harum alias itaque ullam. Aperiam quae perspiciatis mollitia quidem iure odit corrupti minima magnam. Ea aperiam est doloremque quidem iure.</p>
                    </div>
                </div>
                <div class="left">
                    <div class="content">
                        <h3>testing heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nulla. Harum alias itaque ullam. Aperiam quae perspiciatis mollitia quidem iure odit corrupti minima magnam. Ea aperiam est doloremque quidem iure.</p>
                    </div>
                </div>

 
            </div>

            <div class="timeline-content">
                <div class="year">2020</div>

                <div class="right">
                    <div class="content">
                        <h3>testing heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nulla. Harum alias itaque ullam. Aperiam quae perspiciatis mollitia quidem iure odit corrupti minima magnam. Ea aperiam est doloremque quidem iure.</p>
                    </div>
                </div>
                <div class="left">
                    <div class="content">
                        <h3>testing heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nulla. Harum alias itaque ullam. Aperiam quae perspiciatis mollitia quidem iure odit corrupti minima magnam. Ea aperiam est doloremque quidem iure.</p>
                    </div>
                </div>

                <div class="right">
                    <div class="content">
                        <h3>testing heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nulla. Harum alias itaque ullam. Aperiam quae perspiciatis mollitia quidem iure odit corrupti minima magnam. Ea aperiam est doloremque quidem iure.</p>
                    </div>
                </div>
                <div class="left">
                    <div class="content">
                        <h3>testing heading</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, nulla. Harum alias itaque ullam. Aperiam quae perspiciatis mollitia quidem iure odit corrupti minima magnam. Ea aperiam est doloremque quidem iure.</p>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-- end time line  -->

    <!-- start features -->
    <div class="features">
        <h2>Our features</h2>
        <div class="container">
            <div class="feat-box">
                <img src="/images/160.png" 
                alt="">
                <h4>Development</h4>
                <p> we are profissionel marketeers, we will do anything you imagine in no time</p>
            </div>
            <div class="feat-box">
                <img src="/images/160.png" 
                alt="">
                <h4>Development</h4>
                <p> we are profissionel marketeers, we will do anything you imagine in no time</p>
            </div>
            <div class="feat-box">
                <img src="/images/160.png" 
                alt="">
                <h4>Development</h4>
                <p> we are profissionel marketeers, we will do anything you imagine in no time</p>
            </div>


            <div class="feat-box">
                <img src="/images/icons8-commercial-64.png" alt="">   
                <h4>Marketing</h4>
                <p> we are profissionel marketeers, we will do anything you imagine in no time</p>
            </div>

            <div class="feat-box">
                <img src="/images/icons8-accounting-80.png" alt="">
                <h4>accountant</h4>
                <p> we are profissionel marketeers, we will do anything you imagine in no time</p>
            </div> 
            <div class="feat-box">
                <img src="/images/icons8-graph-80.png " alt="">
                <h4>Selling</h4>
                <p> we are profissionel marketeers, we will do anything you imagine in no time</p>
            </div>     
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- End features -->

    <!-- start our partner (testomonial)
    <div class="testimonials">
        <div class="container">
            <h2 class="h2">OUR `partner` </h2>
            <div class="ts-box">
                <p> hello im feedback im here</p>
                <div class="person-info">
                    <a href="https://www.linkedin.com/in/laura-dom%C3%ADnguez-a2779058/"><img src="/images/icons8-administrator-male-80.png" alt=""></a>
                    <h4> <a href="https://www.linkedin.com/in/laura-dom%C3%ADnguez-a2779058/">nabil ibrahim</a></h4>
                    <p class="ceo">CEO AT Company</p>
                </div>
            </div>
            <div class="ts-box">
                <p>hello  im feedback im here</p>
                <div class="person-info">
                    <a href="https://www.linkedin.com/in/laura-dom%C3%ADnguez-a2779058/"><img src="/images/icons8-administrator-male-80.png" alt=""></a>
                    <h4> <a href="https://www.linkedin.com/in/laura-dom%C3%ADnguez-a2779058/">laura dominguse</a></h4>
                   <div class="ceo"> <p class="ceo">CEO at company</p></div>
                </div>
            </div>
            <div class="ts-box">
                <p>hello  im feedback im here</p>
                <div class="person-info">
                    <a href="https://www.linkedin.com/in/laura-dom%C3%ADnguez-a2779058/"><img src="/images/icons8-administrator-male-80.png" alt=""></a>
                    <h4> <a href="https://www.linkedin.com/in/laura-dom%C3%ADnguez-a2779058/">laura dominguse</a></h4>
                    <p class="seo">CEO at company</p>
                </div>
            </div>
        </div>
    </div> -->
            <!-- start conatct us -->

    <div class="contact">
        <div class="overlay"></div>
        <div class="container">
            <h2>Contact Us</h2>
            <form action="">
                <div class="left">
                    <input type="text" placeholder="your name" name="username">
                    <input type="number" placeholder="your phone" name="phone">
                    <input type="email" placeholder="your email" name="email">
                    <input type="text" placeholder="subject" name="username">
                </div>
                <div class="right">
                    <textarea name="message" placeholder="your message"></textarea>
                    <input type="submit" value="Send Us">
                </div>
            </form>
        </div>
    </div>
    <!-- end contact us -->
  

    <div class="footer1">
        <div class="-social-media">

            <a href="https://www.linkedin.com/feed/" >
                <img src="/images/icons8-linkedin-48.png" alt="linden" class="linkedin">
            </a>
                <a href="https://www.linkedin.com/feed/">                
                <img src="/images/icons8-facebook-48.png" alt="facebook" class="facebook">
                </a>

                <a href="https://www.linkedin.com/feed/" >               
                <img src="/images/icons8-twitter-48.png" alt="twitter" class="twitter">
                </a>
                <a href="https://www.Google.com">
                    <img src="/images/icons8-twitter-48.png" alt="we doesnt have src" class="twitter">
                </a>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, quia facere. Voluptates corporis nos</p>
    </div>
<script src="/source/master.js"></script>
</body>
</html>
  



























































































































































































    <!-- start hr -->
<!-- <hr class="hr"> -->

    <!-- end hr -->







































    <!-- start footer  -->
    <!-- <footer>
        <h3> creted by younes and he say :</h3>
    <p>you can use this template to creat a web site template and lets enjoy :</p>
        <form action="email"> enter your email:
            </label><input type="email" name="email" required class="input-form">
            <h5>social media </h5>
            <ul class="socila-media">
                <a href="www.facebook.com" class="facebook">facebook</a>
                <a href="www.linken.com">linden</a>
                <a href="www.upwork.com">up work</a>
            </ul>

        </form>

    </footer>

    end footer  -->




    <script src="js/master.js"></script>
</body>
</html>