<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- start setting box -->
    <div class="settings-box">
        <div class="toggle-settings">
            <i class="fas fa-clock fa-spin"></i>
        </div>
        <div class="settings-content">
            <div class="option-box">
                <h4>colors</h4>
                <ul class="colors-list">
                    <li class="active" data-color="#FF9800"></li>
                    <li data-color="#E91E63"></li>
                    <li data-color="#009688"></li>
                    <li data-color="#03A9F4"></li>
                    <li data-color="#4CAF50"></li>
                </ul>
            </div>
            <div class="option-box">
                <h4>CHANGE Background </h4>
               <div class="random-backgrounds">
                <span class="yes active" data-background="yes">yes</span>
                <span class="no" data-background="no">no</span>
               </div>
               
            </div>
            <div class="option-box">
                <h4>show bullets</h4>
               <div class="bullets-option">
                <span class="yes active" data-display="show">yes</span>
                <span class="no" data-display="hide">no</span>
               </div>
            </div>
            <button class="reset-options">
                reset options
            </button>
       </div>
    </div>

</body>
</html>